* {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.body {
    min-height: 80.70%;
}

header {
    color: gold;
    background-color: turquoise;
    font-family: 'Grape Nuts', cursive;
    text-align: center;
    padding: 15px;
    height: 5rem;
    text-align: center;
}

h1#heading {
    font-size: 4rem;
}

.categories {
    width: 95%;
    margin-left: 2.5%;
    justify-content: center;
    text-align: center;
}

.cat-header {
    text-align: center;
    color: black;
    padding: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.card-header {
    margin-top: 40%;
}

.card-dimensions {
    width: 278px;
    height: 278px;
}

.card {
    margin: 15px;
    border: 3px solid turquoise;
    border-radius: 8px;
    z-index: 1;
    color: white;
}

.card:hover {
    border: 3px solid maroon;
}


.card-background {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1;
    position: absolute;
    background-size: cover;
    width: 278px;
    height: 278px;
}

.card-header {
    z-index: 1;
}

.destinations {
    width: 100px;
    height: 50px;
}

.destination {
    margin: 15px;
    border: 3px solid turquoise;
    border-radius: 8px;
    z-index: 1;
    color: white;
}

.destination-dimensions {
    width: 200px;
    height: 200px;
}

.destination-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    background-color: turquoise;
    color: gold;
    position: relative;
    height: 50px;
    bottom: 0;
    right: 0;
    left: 0;
}


/* Arrows */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;

    border-bottom: 30px solid black;
}

.arrow-container {
    width: 60px;
    margin-left: 37.5%;
    justify-content: center;
    position: relative;
}

/* MODAL STYLES */
#modal-container { /* The Modal container */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 75px;  */
    left: 10%; top: 10%; /* top left corner at 0, 0*/
    width: 75%; height: 80%; /* Occupies the whole window */
    /* overflow: auto; Enable scroll if needed */
    background-color: white;
    border: 3px solid black;
    padding: 10px;
}

#modal {
    width: 95%;
    margin: auto;
    height: 100%;
    overflow-x: hidden;
}

#modal-close {
    color: black;
    font-size: 40px;
    font-weight: bold;
    cursor:pointer; 
}

/*  Carousel */

.carousel-prev,
.carousel-next {
    width: 3rem;
    height: 3rem;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
    border: 1px solid black;
    margin-left: 45%;
}

.modal-carousel-wrapper {
    display: flex;
    justify-content: center;
}


.modal-info {
    padding: 10px;
}

.carousel-img-container {
    width: 80%;
    height: 80%;
}

#carousel-img {
    padding: 10px;
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
}

.carousel-selectors {
    display: flex;
    flex-direction: row;
}

.modal-imgs {
    width: 9rem;
    height: 9rem;
}

.box-1 {
    flex-grow: 1;
    height: 4rem;
    /* background-color: lightblue; */
}

.box-2 {
    flex-grow: 1;
    height: 4rem;
    /* background-color: lightcoral; */
}

#img-list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#img-list img {
    padding: 5px;
}

@media all and (max-width: 768px) {
    .categories {
        width: 80%;
        margin-left: 10%;
    }

    .destination-card {
        width: 80%;
    }
    
    #modal-img {
        width: 15rem;
        height: 10rem;
    }
}

@media all and (max-width: 1024px) {
    .category-header {
        width: 300px;
    }
    #modal-img {
        width: 20rem;
        height: 15rem;
    }

    .modal-carousel-wrapper {
        flex-direction: column;
        height: 80%;
    }

    .main-modal-img {
        width: 100%;
    }
    .modal-data {
        width: 100%;
        flex-direction: row;
        margin-top: 0%;
    }
}
